{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'competition/main.css' %}"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="control-panel">
        <h2>Active</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
        <h2>ranking visibility</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
        <div>
            <button class="btn cancel-btn">cancel</button>
            <button class="btn accept-btn">accept</button>
        </div>
      </div>
    </div>
  </body>
</html>
