{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'competition/main.css' %}"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>configuration panel</h1>
      <div class="panel control-panel">
        <form id="config-form" method="POST">
          {% csrf_token %}
          <h2>Active</h2>
          <label class="switch">
              <input type="checkbox" name="competition_status" {% if configuration.competition_status == 1 %} checked="checked" {% endif %}>
              <span class="slider"></span>
          </label>
          <h2>ranking visibility</h2>
          <label class="switch">
              <input type="checkbox" name="ranking_visibility" {% if configuration.ranking_visibility == 1 %} checked="checked" {% endif %}>
              <span class="slider"></span>
          </label>
        </form>
        <div>
          <button class="btn cancel-btn" onclick="location.href = '/'">cancel</button>
          <button class="btn accept-btn" type="submit" form="config-form">accept</button>
        </div>
      </div>
    </div>
  </body>
</html>
