{% load static %}
{% load competition_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="{% static 'competition/main.css' %}"
            type="text/css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="wrapper {% if configuration.ranking_visibility == 0 and user|has_group:"team" %} inactive {% endif %}">
    {% if configuration.ranking_visibility == 1 or user|has_group:"judge" or user|has_group:"admin" %}
        <h1>Ranking</h1>
    {% else %}
        <h1>Ranking z godziny {{ configuration.ranking_visibility_change_time|time:"H:i" }}</h1>
        <p>Widoczność aktualnego rankingu została wyłączona</p>
    {% endif %}
    <section class="panel ranking-panel">
        <div class="home-btn">
            <a href="/">
                <span>strona główna</span>
                <i class="material-icons">home</i>
            </a>
        </div>
        <div class="sorting">
            Sortuj według pozycji:
            <a href="#" onclick="sortTable('asc')">rosnąco</a>
            <a href="#" onclick="sortTable('desc')">malejąco</a>
            {% if user.is_authenticated and user|has_group:"team" %}
                <a href="{% url 'ranking' %}#{{ user.username }}" class="go-to-link">przejdź do pozycji mojego
                    zespołu</a>
            {% endif %}
        </div>
        <table id="ranking">
            <thead>
            <tr>
                <th>Pozycja</th>
                <th>Nazwa drużyny</th>
                <th>Rozwiązane zadania</th>
                <th>Czas rozwiązań</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in ranking_entries %}
                <tr id="{{ entry.team.team_as_user.username }}" {% if entry.team.team_as_user.username == user.username %}
                    class="active-team "{% endif %}>
                    <td class="ranking-position">{{ forloop.counter }}</td>
                    <td>{{ entry.team.team_as_user.username }}</td>
                    <td>{{ entry.correct_solutions }}</td>
                    <td>{{ entry.formatted_time }}</td>
                </tr>
            {% endfor %}


            {% comment %}
            {% for team in teams %}
                <tr id="{{ team.team_as_user.username }}" {% if team.team_as_user.username == user.username %}
                    class="active-team" {% endif %}>
                    <td class="ranking-position">{{ forloop.counter }}</td>
                    <td>{{ team.team_as_user.username }}</td>
                    <td>2</td>
                    <td>1:30</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endcomment %}
        </table>
    </section>
</div>
</body>
<script>
    const sortTable = (type) => {
        let rows, switching, i, positionX, positionY, shouldSwitch;
        const table = document.getElementById("ranking");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false;

                positionX = rows[i].getElementsByClassName("ranking-position")[0];
                positionY = rows[i + 1].getElementsByClassName("ranking-position")[0];
                if (type === 'asc') {
                    if (parseInt(positionX.innerHTML) > parseInt(positionY.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (type === 'desc') {
                    if (parseInt(positionX.innerHTML) < parseInt(positionY.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>
</html>