{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'competition/main.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel login-panel">
            <h1>Zaloguj się</h1>
            {% if invalid_user and invalid_user == True %}
                <div class="error-div">
                    <p>Błąd logowania</p>
                    <p>Podano nieprawdidłowy login lub hasło</p>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <label for="username">nazwa użytkownika</label>
                <input type="text" id="username" name="username">
                <label for="password">hasło</label>
                <input type="password" id="password" name="password">
                <span style="margin-bottom: 20px;">
                    Nie masz jeszcze drużyny ? 
                    <a href="{% url 'registration' %}">Załóż ją</a>
                </span>
                <button class="btn login-btn" type="submit">Login</button>
                <a href="{% url 'home' %}">Wróć do strony głównej</a>
            </form>
        </div>
    </div>
</body>
</html>