{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'competition/main.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel login-panel">
            <h1>Log in</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="username">username</label>
                <input type="text" id="username" name="username">
                <label for="password">password</label>
                <input type="password" id="password" name="password">
                <button class="btn login-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>