@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --light-blue: #6190e8;
    --megalight-blue: #a7bfe8;
    --white: #fff;
    --ghost-white: #F8F8FF;
    --light-orange: #e8b961;

    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--light-blue);
    background: -webkit-linear-gradient(
            to right,
            var(--megalight-blue),
            var(--light-blue)
    );
    background: linear-gradient(
            to right,
            var(--megalight-blue),
            var(--light-blue)
    );
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: column;
    color: var(--ghost-white);
}
.wrapper.inactive {
    background:#131C2E;
}
.panel {
    background: var(--ghost-white);
    box-shadow: var(--light-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #131C2E;
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.panel form {
    display: flex;
    place-items: center;
    flex-direction: column;
}

.control-panel {
    width: 50%;
    height: 40%;
}

.register-panel {
    width: 80%;
    text-align: center;
}

.ranking-panel {
    width: 80%;
    height: 550px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
    margin-bottom: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.btn {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: .4s;
    outline: none;
    width: 100px;
    border: none;
}

.accept-btn {
    border: 2px solid var(--light-blue);
    background: var(--ghost-white);
    color: var(--light-blue);
}

.accept-btn:hover {
    background: var(--light-blue);
    color: var(--ghost-white);
}

.cancel-btn {
    border: 2px solid var(--light-orange);
    background: var(--ghost-white);
    color: var(--light-orange);
    margin-right: 15px;
}

.cancel-btn:hover {
    background: var(--light-orange);
    color: var(--ghost-white);
}

@media only screen and (min-width: 1100px) {
    .control-panel {
        width: 40%;
    }
}

@media only screen and (max-width: 660px) {
    .control-panel {
        width: 80%;
    }
}

.register-panel, 
.login-panel label {
    display: block;
    margin: 5px 5px;
}

.panel input {
    font-size: 16px;
    padding: 10px 10px;
    width: 12em;
    text-align: center;
    border-radius: 3px;
}

.panel input[type=email] {
    width: 18em;
}

.panel input[type=number] {
    width: 5em;
}

.register-panel h1 {
    font-size: 40px;
}

.register-panel .errorlist {
    color: red;
    font-size: 14px;
}

.register-panel #id_team-school_name {
    width: 26em;
}

.participant-form-outer {
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;
}

.participant-form-inner {
    flex: 1;
    margin: 1em;
}

/*te 3 kolejne wyłączają strzałki przy number inputach dla wieku zostawiając je przy number inpucie dla liczby uczestników */
.participant-form-inner input[type=number] {
    -moz-appearance: textfield;
}

.participant-form-inner input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.participant-form-inner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.team-form-double-outer {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
}

.team-form-double-inner {
    padding: 1em 1em;
}

/* 
RANKING 
*/
.sorting {
    width: 90%;
    display: flex;
    margin-bottom: 30px;
}
.sorting a {
    margin-left: 20px;
}
.sorting a:hover {
    color: var(--light-blue);
}
.sorting .go-to-link {
    margin-left: auto;
}

table {
    width: 100%;
    margin: 0 auto;
}
table tbody { 
    max-height: 380px; 
    overflow-y: auto; 
    display:block; 
    width: 100%;
}
table tr { 
    display:block; 
    width: 100%
}
table tbody tr:hover { 
    background: #b9d5fd;
}

table td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 250px;
    text-align: center;
}
.active-team {
    background: #b9d5fd;
}

/*************** 
LOGIN
 ***************/
 .login-panel {
     width:30%;
     height: 70vh;
 }
 .login-panel input {
     text-align: left;
 }
 .login-panel input[type="password"] {
    font: small-caption;
    font-size: 16px;
    margin-bottom: 10px;
}
.login-panel label {
    margin-top: 20px;
}

 .login-panel h1 {
     margin-bottom: 50px;
 }
 .login-panel span a {
     font-weight: 500;
 }

 .login-btn {
     color: var(--white);
     background: var(--megalight-blue);
     width: 60%;
 }

 .login-btn:hover {
    cursor: pointer;
    background: var(--light-blue);
 }